<!DOCTYPE html>
<html>
  <head>
    <title>App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? %>
    <div id="header">
      <% if current_user.admin %>
      <li class="header-item"><a href=<%= admin_index_path %>>Course Listing</a></li>
      <% end%>
      
      <% if current_user.teacher %>
      <li class="header-item"><a href=<%= teacher_index_path %>>Taught Courses</a></li>
      <% end %>
      
      <li class="header-item"><a href=<%= student_index_path %>>My Courses</a></li>
      <li class="header-item"><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
      <li class="header-item"><%= link_to "Change Password", edit_user_registration_path %></li>
    </div>
    <% else %>
    <%= link_to "Sign In", new_user_session_path %>
    <% end %>
    <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %></div>
    <% end %>
    <%= yield %>
  </body>
</html>
